@font-face {
	font-family: 'firasansregular';
	src: url('../fonts/firasansregular-webfont.woff2') format('woff2'),
		url('../fonts/firasansregular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'ralewaybold', bold;
	src: url('../fonts/ralewaybold-webfont.woff2') format('woff2'),
		url('../fonts/ralewaybold-webfont.woff') format('woff');
}
@font-face {
	font-family: 'ralewayextrabold';
	src: url('../fonts/ralewayextrabold-webfont.woff2') format('woff2'),
		url('../fonts/ralewayextrabold-webfont.woff') format('woff');
}
@font-face {
	font-family: 'ralewaylight';
	src: url('../fonts/ralewaylight-webfont.woff2') format('woff2'),
		url('../fonts/ralewaylight-webfont.woff') format('woff');
}
@font-face {
	font-family: 'ralewayregular';
	src: url('../fonts/ralewayregular-webfont.woff2') format('woff2'),
		url('../fonts/ralewayregular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'ralewaysemibold';
	src: url('../fonts/ralewaysemibold-webfont.woff2') format('woff2'),
		url('../fonts/ralewaysemibold-webfont.woff') format('woff');
}
@font-face {
	font-family: 'ralewaythin';
	src: url('../fonts/ralewaythin-webfont.woff2') format('woff2'),
		url('../fonts/ralewaythin-webfont.woff') format('woff');
}
